.chats__body {
    padding: 0;
    font-size: 14px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/094/478/non_2x/free-abstract-pattern-vector.jpg");
    min-height:100vh;
    width:100%;
}

.header-wrapper {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
}

.chats__body .header,
.chats__body.status-bar {
    padding: 0px 20px;
}

.chat__write-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    background-color: #fcfcfc;
    margin: 0 auto;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

@keyframes float {
    0% {
        transform: translateY(-80px);
        box-shadow: 0 30px 60px -12px rgba(145, 160, 180, 0.45), 30px 30px 40px rgba(118, 146, 180, 0.18);
    }
    50% {
        transform: translateY(-70px);
        box-shadow: 0 30px 60px -60px rgba(145, 160, 180, 0.45), 30px 30px 40px rgba(118, 146, 180, 0.18);
    }
    100% {
        transform: translateY(-80px);
        box-shadow: 0 30px 60px -12px rgba(145, 160, 180, 0.45), 30px 30px 40px rgba(118, 146, 180, 0.18);
    }
}

.chat__write {
    margin: 0 auto;
    width: 100%;
    border: none;
    padding: 20px 60px;
    font-size: 14px;
    border-radius: 0;
    transition: width 0.5s ease-in, border-radius 0.5s ease-in, transform 0.5s ease-in-out;
}

.chat__write:focus {
    outline: none;
    width: 80%;
    transform: translateY(-80px);
    border-radius: 30px;
    box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45), 30px 30px 40px rgba(118, 146, 180, 0.18);
    animation: float 3s linear infinite forwards;
}

.chat__write-icon-left {
    position: absolute;
    left: 10px;
}

.chat__icon {
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

.chat__write:hover~.chat__icon {
    opacity: 0;
}

.chat__write-icon-right {
    position: absolute;
    right: 10px;
}

.chat__write-column :nth-child(2) {
    width: 80%;
}

.chat__screen .chat__messages {
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    padding-top: 30px;
}

.chat__messages .chat__timestamp {
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.message {
    display: flex;
    align-items: flex-start;
    width: 60%;
}

.message .message__content {
    width: 80%;
}


@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message {
    align-self: flex-start;
    margin-bottom: 20px;
}

.sent-message {
    align-self: flex-end;
    margin-bottom: 20px;
}

.message__avatar {
    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 10px;
    animation: spin 3s linear infinite;
}

.message__avatar img {
    width: 42px;
}

.message .message__bubble {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

.incoming-message .message__bubble {
    background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
}
.sent-message .message__bubble {
    background-image: linear-gradient(to right, #91c1e0 0%, #72dac0 100%);
}


.incoming-message .message__author {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    font-size: 11px;
}

@keyframes incomingAnimation {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.incoming-message {
    animation: incomingAnimation 1s ease-in-out forwards;
}

@keyframes sentAnimation {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.sent-message {
    animation: sentAnimation 1s ease-in-out forwards;
}
