.header {
    
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom:20px;
    margin-right:10px;
    margin-left:10px;

}
.header .header__title {
    font-size: 24px;
    font-weight: 800;
}

.header .header__icon {
    font-size: 22x;
    margin-left: 20px;
    cursor: pointer;
}

.header .header__header-column {
    display: flex;
    align-items: center;
}
.header .header__back-btn {
    font-size: 22px;
    margin-right: 20px;
    align-items: center;
}
