.nav {
    position: fixed;
    width: 100%;
    padding: 20px 50px;
    bottom: 0px;
    left: 0px;
    background-color: #fcfcfc;
    border-top: 1px solid #f7f7f7;
}

.profile__nav {
    position: fixed;
    width: 100%;
    padding: 40px 50px;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #f7f7f7;
}

.profile__nav i {
    font-size: 25px;
}

.nv,
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 20px;
}

.nav .nav__list-link {
    position: relative;
}

.nav .nav__badge {
    position: absolute;
    top: -6px;
    right: -6px;
    color: white;
    display: flex;
    width: 18px;
    height: 18px;
    text-align: center;
    justify-items: center;
    background-color: #dc5d46;
    border-radius: 50%;
}