.profile__body {
    overflow: hidden;
    background: linear-gradient( to bottom, rgba(101, 101, 114, 0.6) 100%, rgba(0, 0, 0, 0.6)), url("https://i.pinimg.com/564x/85/30/6d/85306d9fe45d199c562d0e55bd6204ad.jpg");
    background-size: cover;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__avatar {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 110px;
}

.avatar img {
    width: 80px;
}

.profile__name {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 15px;
}

.insta_detail {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.detail__column {
    width: 200px;
    columns: grey;
    opacity: 0.8;
    text-align: center;
}

.detail__column h4 {
    margin-top: 10px;
}