.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.friend .friend__avatar {
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 38%;
}

.friend .friend__avatar img {
    width: 38px;
}

.friend .friend__column {
    display: flex;
    align-items: center;
}

.friend .friend__avatar {
    margin-right: 15px;
}

.friend__content .friend__name {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestmp {
    opacity: 0.6;
}

.friend__content .friend__bottom-text {
    font-size: 14px;
}

.friend__content .friend__status {
    font-size: 12px;
}

.friend .g-avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
}

.friend .g-avatar img {
    width: 45px;
}

.friend .m-avatar {
    width: 42px;
    height: 42px;
    overflow: hidden;
}

.friend .m-avatar img {
    width: 42px;
}